<div class="sidebar d-flex flex-column">
  <div class="user-info text-center py-3">
    <img src="assets/default-profile.png" alt="Profile Picture" class="profile-picture img-fluid rounded-circle mb-2">
    <div class="user-details">
      <div class="user-name">{{ulogovan.ime}} {{ulogovan.prezime}}</div>
    </div>
  </div>
  <ul class="list-unstyled">
    <li class="py-2 px-3" (click)="selectMenuItem('profile')">Pocetna</li>
    <li class="py-2 px-3" (click)="selectMenuItem('administracija-predmeta')">Administracija predmeta</li>
    <li class="py-2 px-3" (click)="selectMenuItem('administracija-saradnika')">Adminitracija saradnika</li>
    <li class="py-2 px-3" (click)="selectMenuItem('obavestenja')">Obavestenja</li>
  </ul>
  <app-logout class="logout-button mt-auto m-3"></app-logout>
</div>


