.table {
  background-color: #ffffff;
  border-radius: 5px;
  overflow: hidden;
}

.table thead th {
  border: none;
}

.table tbody tr:hover {
  background-color: #f1f1f1;
}

.table tbody tr td {
  vertical-align: middle;
}

h3 {
  font-weight: bold;
  color: #333;
}

.alert {
  text-align: center;
  margin-top: 20px;
}
