  <h6 class="text-muted">Stanje računa: <strong>{{ulogovan.racun ? ulogovan.racun : '0'}} RSD</strong></h6>
  <hr class="my-4">

  <h3 class="my-4">Pregled svih uplata</h3>

  <div *ngIf="uplate.length > 0; else nemaUplata">
    <table class="table table-bordered table-striped table-hover">
      <thead class="thead-dark">
        <tr>
          <th>Svrha uplate</th>
          <th>Datum uplate</th>
          <th>Iznos</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let a of uplate">
          <td class="text-left">{{ a.svrhaUplate }}</td>
          <td class="text-left">{{ a.datum }}</td>
          <td class="text-left">{{ a.iznos }} RSD</td>
        </tr>
      </tbody>
    </table>
  </div>

  <ng-template #nemaUplata>
    <div class="alert alert-warning text-center" role="alert">
      Nije bilo uplata.
    </div>
  </ng-template>
  <h3 class="my-4">Pregled svih plaćanja</h3>

  <div *ngIf="placanja.length > 0; else nemaPlacanja">
    <table class="table table-bordered table-striped table-hover">
      <thead class="thead-dark">
        <tr>
          <th>Naziv plaćanja</th>
          <th>Datum</th>
          <th>Iznos</th>
          <th>Komentar</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let p of placanja">
          <td class="text-left">{{ p.nazivPlacanja }}</td>
          <td class="text-left">{{ p.datum }}</td>
          <td class="text-left">{{ p.iznos }} RSD</td>
          <td class="text-left">{{ p.komentar }}</td>
        </tr>
      </tbody>
    </table>
  </div>

  <ng-template #nemaPlacanja>
    <div class="alert alert-warning text-center" role="alert">
      Nije bilo plaćanja.
    </div>
  </ng-template>
