<h3 class="my-4">Pregled svih uplata</h3>
<table border="1" *ngIf="uplate.length > 0; else nemaUplata" class="table table-bordered table-striped table-hover">
  <thead class="thead-dark">
  <tr>
    <th>Naziv</th>
    <th>Datum uplate</th>
    <th>Iznos</th>
  </tr>
</thead>
  <tr *ngFor="let a of uplate">
    <td class="text-left">{{a.svrha_uplate}}</td>
    <td class="text-left">{{a.datum}}</td>
    <td class="text-left">{{a.iznos}}RSD</td>
  </tr>
</table>{{uplate[0].id_uplate}}
<ng-template #nemaUplata>
  Nije bilo uplata.
</ng-template>

