<h3 class="text-left">Pregled svih predmeta</h3>
<div class="tab-container">
  <div class="tab-header d-flex mb-4">
    <button class="btn btn-outline-primary me-3" (click)="selectTab('trenutna')" [class.active]="selectedTab === 'trenutna'">Trenutna Praćenja</button>
    <button class="btn btn-outline-primary me-3" (click)="selectTab('polozeni')" [class.active]="selectedTab === 'polozeni'">Položeni Ispiti</button>
    <button class="btn btn-outline-primary" (click)="selectTab('nepolozeni')" [class.active]="selectedTab === 'nepolozeni'">Neuspešna Polaganja</button>
  </div>
  <div class="tab-content" *ngIf="selectedTab === 'polozeni'">
    <table *ngIf="polozeniIspiti.length > 0; else nemaPracenja" class="table table-bordered table-striped table-hover">
      <thead class="thead-dark">
        <tr>
          <th>#</th>
          <th>Naziv predmeta</th>
          <th>Ocena</th>
          <th>Broj kredita (ESPB)</th>
          <th>Godina predmeta</th>
          <th>Rok</th>
          <th>Detalji</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let pracenje of polozeniIspiti; let i = index">
          <td>{{ i + 1 }}</td>
          <td class="text-left">{{ pracenje.imePredmeta }}</td>
          <td class="text-left">{{ pracenje.ocena }}</td>
          <td class="text-left">{{ pracenje.brojKredita }}</td>
          <td class="text-left">{{ pracenje.godina }}.</td>
          <td class="text-left">Jun</td>
          <td class="text-left">
            <button class="btn btn-info btn-sm" (click)="toggleDetails(pracenje.idPracenjaPredmeta, i)">Detalji</button>
            <div *ngIf="expandedDetailsIndex === i">
            </div>
          </td>
        </tr>
      </tbody>
    </table>

    <div *ngIf="expandedDetailsIndex !== -1">
      <hr>
      <p>Detalji o položenom ispitu:</p>
      <div *ngIf="rezultati.length > 0">
        <table class="table table-bordered table-striped table-hover">
          <thead>
            <tr>
              <th>Naziv Ispitne Obaveze</th>
              <th>Broj Poena</th>
              <th>Osvojeno Poena</th>
              <th>Rok</th>
              <th>Položen Ispit U Roku</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let rezultat of rezultati">
              <td>{{ rezultat.nazivIspitneObaveze }}</td>
              <td>{{ rezultat.brojPoena }}</td>
              <td>{{ rezultat.osvojenoPoena }}</td>
              <td>{{ rezultat.rok }}</td>
              <td>{{ rezultat.polozenIspitURoku }}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>

    <hr>
    <h6>Ukupno ESPB: {{mojiEspb}}</h6>
    <h6>Ukupno položenih ispita: {{brPolozenihIspita}}</h6>
    <h6>Prosečna ocena: {{prosecnaOcena | number: '1.2-2'}}</h6>
  </div>
  <div class="tab-content" *ngIf="selectedTab === 'nepolozeni'">
    <table *ngIf="nepolozeniIspiti.length > 0; else nemaPracenja" class="table table-bordered table-striped table-hover">
      <thead class="thead-dark">
        <tr>
          <th>#</th>
          <th>Naziv predmeta</th>
          <th>Ocena</th>
          <th>Broj kredita (ESPB)</th>
          <th>Godina predmeta</th>
          <th>Detalji</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let pracenje of nepolozeniIspiti; let i = index">
          <td>{{ i + 1 }}</td>
          <td class="text-left">{{ pracenje.imePredmeta }}</td>
          <td class="text-left">{{ pracenje.ocena }}</td>
          <td class="text-left">{{ pracenje.brojKredita }}</td>
          <td class="text-left">{{ pracenje.godina }}.</td>
          <td class="text-left">
            <button class="btn btn-info btn-sm" (click)="toggleDetails(+pracenje.idPracenjaPredmeta, i)">Detalji</button>
            <div *ngIf="expandedDetailsIndex === i">
            </div>
          </td>
        </tr>
      </tbody>
    </table>

    <div *ngIf="expandedDetailsIndex !== -1">
      <hr>
      <p>Detalji o nepoloženom ispitu:</p>
      <div *ngIf="polozeniIspiti.length > 0">
        <div *ngIf="rezultati.length > 0">
          <table class="table table-bordered table-striped table-hover">
            <thead>
              <tr>
                <th>Naziv Ispitne Obaveze</th>
                <th>Broj Poena</th>
                <th>Osvojeno Poena</th>
                <th>Rok</th>
                <th>Položen Ispit U Roku</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let rezultat of rezultati">
                <td>{{ rezultat.nazivIspitneObaveze }}</td>
                <td>{{ rezultat.brojPoena }}</td>
                <td>{{ rezultat.osvojenoPoena }}</td>
                <td>{{ rezultat.rok }}</td>
                <td>{{ rezultat.polozenIspitURoku }}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  <div class="tab-content" *ngIf="selectedTab === 'trenutna'">
    <table *ngIf="trenutnaPracenja.length > 0; else nemaPracenja" class="table table-bordered table-striped table-hover">
      <thead class="thead-dark">
        <tr>
          <th>#</th>
          <th>Naziv predmeta</th>
          <th>Broj kredita (ESPB)</th>
          <th>Godina predmeta</th>
          <th>Detalji</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let pracenje of trenutnaPracenja; let i = index">
          <td>{{ i + 1 }}</td>
          <td class="text-left">{{ pracenje.imePredmeta }}</td>
          <td class="text-left">{{ pracenje.brojKredita }}</td>
          <td class="text-left">{{ pracenje.godina }}.</td>
          <td class="text-left">
            <button class="btn btn-info btn-sm" (click)="toggleDetails(+pracenje.idPracenjaPredmeta, i)">Detalji</button>
            <div *ngIf="expandedDetailsIndex === i">
            </div>
          </td>
        </tr>
      </tbody>
    </table>

    <div *ngIf="expandedDetailsIndex !== -1">
      <p>Informacije o ispitu:</p>
      <div *ngIf="trenutnaPracenja.length > 0">
        <div *ngIf="rezultati.length > 0">
          <table class="table table-bordered table-striped table-hover">
            <thead>
              <tr>
                <th>Naziv Ispitne Obaveze</th>
                <th>Broj Poena</th>
                <th>Osvojeno Poena</th>
                <th>Rok</th>
                <th>Položen Ispit U Roku</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let rezultat of rezultati">
                <td>{{ rezultat.nazivIspitneObaveze }}</td>
                <td>{{ rezultat.brojPoena }}</td>
                <td>{{ rezultat.osvojenoPoena }}</td>
                <td>{{ rezultat.rok }}</td>
                <td>{{ rezultat.polozenIspitURoku }}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>

<ng-template #nemaPracenja>
  <div class="alert alert-warning text-center" role="alert">
    Nema istorije ispita.
  </div>
</ng-template>
