<h3 class="my-4">Pregled saradnika na predmetu</h3>

<div class="tab-content">
  <div *ngIf="predmeti.length > 0; else noCourses">
    <label for="courseSelect">Odaberi predmet:</label>
    <select id="courseSelect" (change)="onCourseSelect($event)">
      <option *ngFor="let predmet of predmeti" [value]="predmet.idPredmeta">
        {{ predmet.imePredmeta }}
      </option>
    </select>

    <div *ngIf="selectedPredmet">

      <h4>Profesori koji drže ovaj predmet:</h4>
      <table border="1" class="table table-bordered table-striped table-hover">
        <thead class="thead-dark">
          <tr>
            <th>#</th>
            <th>Korisničko ime</th>
            <th>Ime</th>
            <th>Prezime</th>
            <th>Uloga</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let profesor of professorsTeachingCourse; let i = index">
            <td>{{ i + 1 }}</td>
            <td>{{ profesor.username }}</td>
            <td>{{ profesor.ime }}</td>
            <td>{{ profesor.prezime }}</td>
            <td>{{ profesor.uloga}}</td>
          </tr>
        </tbody>
      </table>
      <button type="button" (click)="toggleProfessorsNotOnCourse()">
        {{ showProfessorsNotOnCourse ? 'Sakrij nastavnike koji nisu na predmetu' : 'Prikaži nastavnike koji nisu na predmetu' }}
      </button>

      <div *ngIf="showProfessorsNotOnCourse">
      <h4>Profesori koji ne drže ovaj predmet:</h4>
      <table border="1" class="table table-bordered table-striped table-hover">
        <thead class="thead-dark">
          <tr>
            <th>#</th>
            <th>Korisničko ime</th>
            <th>Ime</th>
            <th>Prezime</th>
            <th>Uloga</th>
            <th>Akcije</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let profesor of professorsNotTeachingCourse; let i = index">
            <td>{{ i + 1 }}</td>
            <td>{{ profesor.username }}</td>
            <td>{{ profesor.ime }}</td>
            <td>{{ profesor.prezime }}</td>
            <td>{{ profesor.uloga}}</td>
            <td><button [disabled]="isDisabled" (click)="addProfessorToCourse(profesor.username)">Dodaj</button></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

  <ng-template #noCourses>
    Nema dostupnih predmeta.
  </ng-template>
</div>
