<div class="container-fluid mt-3">
  <div class="d-flex justify-content-center mb-3">
    <button class="btn btn-primary me-2" [class.active]="showStudents" (click)="toggleView(true)">Students</button>
    <button class="btn btn-primary" [class.active]="!showStudents" (click)="toggleView(false)">Professors</button>
  </div>

  <div class="row">
    <div class="col-12">
      <table *ngIf="showStudents" class="table table-bordered table-hover table-responsive">
        <thead>
          <tr>
            <th>Username</th>
            <th>Ime</th>
            <th>Prezime</th>
            <th>Pol</th>
            <th>Telefon</th>
            <th>Godina Upisa</th>
            <th>Broj Indeksa</th>
            <th>Studijska Godina</th>
            <th>Smer</th>
            <th>Ukupno ESPB</th>
            <th>Račun</th>
            <th>Overen Semestar</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let student of students">
            <td><input class="form-control" [(ngModel)]="student.username" /></td>
            <td><input class="form-control" [(ngModel)]="student.ime" /></td>
            <td><input class="form-control" [(ngModel)]="student.prezime" /></td>
            <td><input class="form-control" [(ngModel)]="student.pol" /></td>
            <td><input class="form-control" [(ngModel)]="student.telefon" /></td>
            <td><input class="form-control" [(ngModel)]="student.godinaUpisa" /></td>
            <td><input class="form-control" [(ngModel)]="student.brojIndeksa" /></td>
            <td><input class="form-control" [(ngModel)]="student.studijskaGodina" /></td>
            <td><input class="form-control" [(ngModel)]="student.smer" /></td>
            <td><input class="form-control" [(ngModel)]="student.ukuonoEsbp" /></td>
            <td><input class="form-control" [(ngModel)]="student.racun" /></td>
            <td><input class="form-control" [(ngModel)]="student.overenSemestar" /></td>
            <td>
              <button class="btn btn-danger" (click)="deleteUser(student.username)">Delete</button>
              <button class="btn btn-success ms-2" (click)="saveUser(student)">Save</button>
            </td>
          </tr>
        </tbody>
      </table>

      <table *ngIf="!showStudents" class="table table-bordered table-hover table-responsive">
        <thead>
          <tr>
            <th>Username</th>
            <th>Ime</th>
            <th>Prezime</th>
            <th>Pol</th>
            <th>Telefon</th>
            <th>Katedra</th>
            <th>Uloga</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let professor of professors">
            <td><input class="form-control" [(ngModel)]="professor.username" /></td>
            <td><input class="form-control" [(ngModel)]="professor.ime" /></td>
            <td><input class="form-control" [(ngModel)]="professor.prezime" /></td>
            <td><input class="form-control" [(ngModel)]="professor.pol" /></td>
            <td><input class="form-control" [(ngModel)]="professor.telefon" /></td>
            <td><input class="form-control" [(ngModel)]="professor.katedra" /></td>
            <td><input class="form-control" [(ngModel)]="professor.uloga" /></td>
            <td>
              <button class="btn btn-danger" (click)="deleteUser(professor.username)">Delete</button>
              <button class="btn btn-success ms-2" (click)="saveUser(professor)">Save</button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
