<h3 class="my-4">Pregled predmeta</h3>

<div class="tab-content">
  <div *ngIf="predmeti.length > 0; else noCourses">
    <label for="courseSelect">Odaberi predmet:</label>
    <select id="courseSelect" (change)="onCourseSelect($event)">
      <option value="" disabled selected>--- Odaberi predmet ---</option>
      <option *ngFor="let predmet of predmeti" [value]="predmet.idPredmeta">
        {{ predmet.imePredmeta }}
      </option>
    </select>
<br><hr>
    <div *ngIf="selectedPredmet">
      <h4>Detalji o predmetu:</h4>
      <div *ngIf="!isEditing">
        <p><strong>Naziv predmeta:</strong> {{ selectedPredmet.imePredmeta }}</p>
        <p><strong>Godina:</strong> {{ selectedPredmet.godina }}</p>
        <p><strong>Broj kredita (ESPB):</strong> {{ selectedPredmet.brojKredita }}</p>
        <p><strong>Opis predmeta:</strong> {{ selectedPredmet.opisPredmeta }}</p>
        <button class="btn btn-primary" (click)="toggleEdit()">Izmeni</button>
      </div>

      <div *ngIf="isEditing">
        <h4>Izmeni detalje o predmetu:</h4>
        <form (ngSubmit)="saveCourse()">
          <div class="form-group">
            <label for="imePredmeta">Naziv predmeta:</label>
            <input id="imePredmeta" [(ngModel)]="selectedPredmet.imePredmeta" name="imePredmeta" class="form-control" required>
          </div>
          <div class="form-group">
            <label for="godina">Godina:</label>
            <input id="godina" type="number" [(ngModel)]="selectedPredmet.godina" name="godina" class="form-control" required>
          </div>
          <div class="form-group">
            <label for="brojKredita">Broj kredita (ESPB):</label>
            <input id="brojKredita" type="number" [(ngModel)]="selectedPredmet.brojKredita" name="brojKredita" class="form-control" required>
          </div>
          <div class="form-group">
            <label for="opisPredmeta">Opis predmeta:</label>
            <textarea id="opisPredmeta" [(ngModel)]="selectedPredmet.opisPredmeta" name="opisPredmeta" class="form-control" required></textarea>
          </div>
          <button type="submit" class="btn btn-success">Sačuvaj</button>
          <button type="button" class="btn btn-secondary" (click)="toggleEdit()">Odustani</button>
        </form>
      </div>
    </div>
  </div>

  <ng-template #noCourses>
    Nema dostupnih predmeta.
  </ng-template>
</div>
