<div class="container mt-5">
  <h3 class="my-4">Oceni studenta</h3>

  <div *ngIf="komentarMessage" class="alert alert-{{ komentarType }} mt-3">
    {{ komentarMessage }}
  </div>
  <table class="table table-bordered table-striped table-hover">
    <thead class="thead-dark">
      <tr>
        <th>#</th>
        <th>Ime</th>
        <th>Prezime</th>
        <th>Korisničko ime</th>
        <th>Ocena</th>
        <th>Komentar</th>
        <th>Akcija</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let ucenik of ucenici">
        <td>{{ ucenik.id }}</td>
        <td>{{ ucenik.ime }}</td>
        <td>{{ ucenik.prezime }}</td>
        <td>{{ ucenik.username }}</td>
        <td>
          <input type="number" [(ngModel)]="ucenik.ocena" class="form-control" min="1" max="10" />
        </td>
        <td>
          <textarea [(ngModel)]="ucenik.komentar" class="form-control" rows="3"></textarea>
        </td>
        <td>
          <button class="btn btn-primary" (click)="posaljiOcenu(ucenik)">Postavi ocenu</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
